.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 16px;
}

.message.service {
  justify-content: center;
}

.bubbleWrapper {
  max-width: 70%;
  display: flex;
  align-items: flex-end;
}

.message.self,
.message.self .bubbleWrapper {
  flex-direction: row-reverse;
}

.name {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 60%;
  -webkit-line-clamp: 1;
  white-space: nowrap;
}

.bubble {
  background: #e0e5e8;
  padding: 8px 16px;
  border-radius: 16px;
  word-wrap: break-word;
  min-width: 0;
}

.message.self .bubble {
  background: #cae2ed;
}

.time {
  padding: 0 8px;
  font-size: 0.8rem;
}

.serviceMessage,
.date {
  background: #e7e7e7;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}

.date {
  border-radius: 16px;
}

.messageInput {
  position: sticky;
  bottom: 64px;
  z-index: 100;
}

.messageInput input {
  width: 100%;
  padding-left: 16px;
  border-radius: 0;
  background: white;
  border: none;
  border-right: 1px solid #eee;
  outline: none;
}

.invitationInfo {
  background: white;
  position: sticky;
  top: 56px;
  padding: 4px 16px;
  margin: 0 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 5%);
  color: inherit;
}
